.container{
    width: 7.02rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
}
/*头部开始*/
.header{
    width: 100%;
    height: 5rem;
    position: relative;
    background: #ffac13;
}
.header-content{
    width: 15rem;
    height: 2.3rem;
    margin: 0 auto;
    /*background: #ffbed4;*/
}
.header-content-you{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    float: left;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header-content p{
    float: left;
    color: white;
    font-size: 0.52rem;
    line-height: 2.3rem;
    margin-left: 4.5rem;
}
.header-content-cha{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    float: left;
    margin-top: 0.4rem;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header-content-gd{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    float: left;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header-content-you{
    font-family: iconfont;
    font-size: 0.5rem;
    color: #ffac13;
}
.header-content-cha{
    font-family: iconfont;
    font-size: 0.5rem;
    color: #ffac13;
}
.header-content-gd{
    font-family: iconfont;
    font-size: 0.5rem;
    color: #ffac13;
}
.header-dianpu{
    width: 15.02rem;
    height: 3.8rem;
    background-color: #fffdfc;
    box-shadow: -0.038rem 0.056rem 0.2rem 0.08rem
    rgba(6, 6, 6, 0.46);
    border-radius: 0.1rem;
    margin: 0.6rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picture{
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;
    float: left;
    background: #e53935;
}
.picture img{
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
}
.biaoti{
    width: 4rem;
    height: 1rem;
    position: absolute;
    left: 3.6rem;
    top: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.biaoti p{
    font-size: 0.50rem;
    font-family: 微软雅黑;
    font-weight: 300;
    /*float: left;
    margin-left: 4rem;
    margin-top: 0.4rem;*/
}
.biaoti b{
    float: left;
    margin-top: 2rem;
    margin-left: 6rem;
}
.neirong{
    width: 7rem;
    height: 4rem;
    margin-top: 3.5rem;
}
.neirong p{
    color: #aaaaaa;
    font-family: 微软雅黑;
    font-size: 0.32rem;
    font-weight: 300;
}
.n{
   color: #e53935;
    font-family: "苹方 常规";
    font-size: 0.32rem;
}
.m{
   color: #ff6700;
    font-family: "苹方 常规";
    font-size: 0.32rem;
}
.xinxi span{
    color: #aaaaaa;
    font-family: 微软雅黑;
    font-weight: 300;
    font-size: 0.32rem;
}
.neirong i{
    font-family: iconfont;
}
/*头部结束*/
/*选项开始*/
.xuanxiang{
    width: 12rem;
    height: 3rem;
    margin: 3rem auto;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
    /*background: #ffbed4;*/
}
.xuanxiang-diandan{
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    background: #ff2a70;
}
.xuanxiang-diandan p{
    text-align: center;
    line-height: 2rem;
    font-size: 0.5rem;
    color: #fff;
}
.xuanxiang-pingjia{
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    background: #ffac13;
}
.xuanxiang-pingjia p{
    text-align: center;
    line-height: 2rem;
    font-size: 0.5rem;
    color: #fff;
}
.xuanxiang-shangjia{
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    background: #ffac13;
}
.xuanxiang-shangjia p{
    text-align: center;
    line-height: 2rem;
    font-size: 0.5rem;
    color: #fff;
}
/*选项结束*/
/*介绍开始*/
.jieshao{
    width: 100%;
    height: 19.5rem;
    background: #e2e5e6;
    position: absolute;
    top: 12rem;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.jieshao-leibie{
    width: 3rem;
    height: 15rem;
    margin-top: 0.09rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.rexiao{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.taocan{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.lengyin{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.kafei{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.kafei{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.naicha{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.shala{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.guozhi{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    background: #ffac13;
}
.bidian{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: #ffac13 0.1rem solid;
}
.guozhi span{
    color: white;
    font-size: 0.5rem;
    font-weight: 300;
    margin-left: 0.9rem;
    line-height: 1.5rem;
}
.jieshao-leibie p{
    color: #757575;
    font-size: 0.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5rem;
}
.jieshao-yinpin{
    width: 12rem;
    height: 16.5rem;
    margin-top: 0.09rem;
}
.jieshao-yinpin-neirong{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 0.15rem;
    background: #fff;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-content: space-around;
}
.jieshao-yinpin-neirong-picture{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
}
.jieshao-yinpin-neirong-picture img{
    width: 3rem;
    height: 3rem;
    /*margin-top: 0.25rem;*/
    border-radius: 0.6rem;
}
.jieshao-yinpin-neirong-lvcha{
    width: 5rem;
    height: 3rem;
    float: left;
    margin-top: 0.25rem;
}
.jieshao-yinpin-neirong-jiahao{
    width: 1rem;
    height: 1rem;
    margin-top: 2rem;
    border-radius: 4rem;
    background: #ffac13;
}
.jieshao-yinpin-neirong-jiahao i{
    font-family: iconfont;
    font-size: 0.5rem;
    color: white;
    text-align: center;
    line-height: 1rem;
    margin-left: 0.25rem;
}
.g{
    font-size: 0.5rem;
    font-family: 微软雅黑;
    font-weight: 300;
    margin-top: 0.5rem;
}
.h{
    color: #ff2a70;
    font-size: 0.3rem;
    font-family: "苹方 常规";
}
.jieshao-yinpin-neirong-lvcha span{
     color: #ffac13;
    font-size: 0.3rem;
    font-family: "苹方 常规";
}

.jieshao-yinpin-neirong1{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-content: space-around;
    background: #fff;
}
.jieshao-yinpin-neirong2{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    background: #fff;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-content: space-around;
}
.jieshao-yinpin-neirong3{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    background: #fff;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-content: space-around;
}
/*介绍结束*/
/*tab开始*/
.tab{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 17.5rem;
    background: white;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.huiche{
    width: 3rem;
    height: 3rem;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background: #ff2a70;*/
}
.huiche i{
    font-family: iconfont;
    font-size: 2rem;
    color: #aaaaaa;
}
.xq{
    width: 8rem;
    height: 3rem;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    /*background: #ffac13;*/
}
.k{
    font-size: 0.5rem;
    font-family: 微软雅黑;
}
.v{
    font-size: 0.6rem;
    font-family: "苹方 常规";
    color: #aaaaaa;
}
.jiesuan{
    width: 4rem;
    height: 2rem;
    float: left;
    margin-top: 0.5rem;
    border-radius: 2rem;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #757575;
}
/*tab结束*/